<form #f="ngForm" (ngSubmit)="guardarAutor(f)">
  <h2 mat-dialog-title>Agregar nuevo Autor</h2>

  <mat-dialog-content>
    <section fxLayoutAlign="center center" style="margin: 0px 10px">
      <mat-card fxFlex="100%">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
          <mat-form-field>
            <mat-label>Nombre del autor</mat-label>
            <input
              type="text"
              matInput
              placeholder="Ejem: Luis"
              name="nombreCompleto"
              ngModel
              required
            />
            <mat-error>Por favor ingrese un nombre</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label> Nacionalidad</mat-label>
            <input
              type="text"
              matInput
              placeholder="Nacionalidad"
              name="nacionalidad"
              ngModel
              required
            />
            <mat-error>Ingresa la nacionalidad del autor</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label> Descripcion </mat-label>
            <textarea matInput
              type="text"
              matInput
              name="descripcion"
              ngModel
              required
              rows="8"
            >

            </textarea>


            <mat-error>Ingresa una descripcion</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label> Ocupacion </mat-label>
            <input
              type="text"
              matInput
              name="ocupacion"
              ngModel
              required
            />
            <mat-error>Ingresa la ocupacion del autor</mat-error>
          </mat-form-field>

          <mat-form-field fxLayoutGap="15px">

            <div class="margen"> <label>Foto de perfil *</label> </div>
            <input
              (change)="obtenerImagen($event)"
              type="File"
              matInput
              name="imgFoto"
              ngModel
              required
            />
            <mat-error>Porfavor selecciona una imagen</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label> Obras Destacadas </mat-label>
            <input
              type="text"
              matInput
              name="obrasDestacadas"
              ngModel
              required
            />
            <mat-error>Ingresa al menos una obra</mat-error>
          </mat-form-field>

          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Generos</mat-label>
            <mat-chip-list #chipList aria-label="Genero selection">
              <mat-chip *ngFor="let genero of generos" [selectable]="selectable"
                       [removable]="removable" (removed)="remove(genero)">
                {{genero.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                     name="generosInput"
                     [(ngModel)] = "generosInput"
                     placeholder=""
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>


        </div>
      </mat-card>
    </section>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Cerrar</button>
    <button mat-raised-button color="warn" type="submit">Guardar</button>
  </mat-dialog-actions>
</form>
