a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active{
  color: #DBCDE6;
  /* font-weight: 400; */
}

.navegation-menu{
list-style: none;
}
.bg-color{
  background-color: #0077b6;
}
.blanco{
  color: #fff;
}
.btn-color{
  color: #0077b6;
}
.puntero{
  cursor: pointer;
}
.contedor{
  color: #00b4d8;
}
