a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active{
  color: #DBCDE6;
  /* font-weight: 400; */
}

.navegation-menu{
list-style: none;
}
.bg-color{
  /* background-color: #385E72; */
  background: linear-gradient(to right, #3b98d6, #505BDA);
}
.blanco{
  color: #fff;
}
.btn-color{
  color: #385E72;
}
.puntero{
  cursor: pointer;
}
.contedor{
  color: #343A40;
}
