<header class="bg_animate ">
  <section class="banner contenedor">
      <section class="banner_title">
          <h2>Welcome <br> Libros Market</h2>
          <a class="llamanos">Contactame!</a>
      </section>
      <div class="banner_img">
          <img src="assets/img/books-img.png" alt="...">
      </div>
  </section>

  <div class="burbujas">
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
      <div class="burbuja"></div>
  </div>
</header>
