mat-form-field{
  width: 400px;

}
section{
  display: flex;
  background: linear-gradient(to right, #3b98d6, #505BDA);
  height: 100vh;
  padding-left: 12%;
}
form{
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 30px;
  height: 550px;
}

