<div class="flex">
  <mat-card class="example-card margenTargetas" *ngFor="let book of booksLista">
    <div class="margenTargetas" (mouseenter)="mostrar(book)">
      <img mat-card-image class="imagen" src="{{ book.imgFoto | noimage }}" alt="Photo of a Shiba Inu" />
      <p class="texto">{{ book.titulo | slice: 0:25 }}</p>
    </div>

    <div (mouseleave)="salir()" class="contenedor" *ngIf="book._id === visible">
      <h4 class="title">{{ book.titulo | uppercase }}</h4>
      <div class="alinear">
        <span class="precio">{{ book.precio | currency }} </span>
        <span>{{ book.fechaPublicacion | date }}</span>
      </div>
      <p>{{ book.descripcion }}</p>
      <img class="imgLogo" [src]="book.imgFoto" alt="..." />
      <button>{{ book.autor.nombreCompleto }}</button>
    </div>
  </mat-card>
</div>

<!-- <section class="container">
  <div class="row active-with-click">
    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let book of booksLista">
      <article class="material-card Blue-Grey">
        <h2>
          <span> {{book.titulo | uppercase}} </span>
          <strong class="alinearFooter">

            <mat-icon> person_outline </mat-icon>
            <span class="mleft-3">{{ book.autor.nombreCompleto }}</span>

          </strong>
        </h2>
        <div class="mc-content">
          <div class="img-container">
            <img class="img-responsive imagen" src="assets/img/imgFoto-kakashi.jpg">
          </div>
          <div class="mc-description">
            {{ book.descripcion }}
          </div>
        </div>
        <a (click)="mostrarCard()" class="mc-btn-action">
          <i class="fa fa-bars"></i>
        </a>
        <div class="mc-footer">

          <div class="alinearFooter">
            <mat-icon> event </mat-icon>
            <span>{{ book.fechaPublicacion | date }}</span>
          </div>

          <div class="alinearFooter">
            <mat-icon> attach_money </mat-icon>
            <span>{{ book.precio | currency }} </span>
          </div>
        </div>
      </article>
    </div>

  </div>
</section> -->


