<!--  -->

<div #flex class="flex">
  <mat-card *ngFor="let book of booksLista">
    <div #f class="contenedorCards" (mouseenter)="mostrarCard(book, f)">
      <img class="imagen" src="{{ book.imgFoto | noimage }}" alt="...." />
      <div class="contenedor-texto">
        <p>{{ book.titulo }}</p>
      </div>
    </div>
    <!-- *ngIf="autor._id === visible" -->
    <div (mouseleave)="salir()" class="infoCard animated fadeIn"
      [ngClass]="{'positionRigth': positionTs, 'positionLeft': !positionTs}" *ngIf="book._id === visible">
      <div class="alinearHeader">
        <span class="nombreTitulo">{{ book.titulo }}</span>
        <span class="alinearVerticalmente">
          <mat-icon class="deleteMargin"> attach_money </mat-icon>
          <p class="deleteMargin">{{ book.precio }}</p>
        </span>
        <span class="alinearVerticalmente">
          <mat-icon class="deleteMargin"> date_range </mat-icon>
          <p class="deleteMargin">{{ book.fechaPublicacion | date }}</p>
        </span>
      </div>

      <p>{{ book.descripcion }} </p>

      <!-- <p *ngFor="let genero of generos">{{ genero.nombre }} </p> -->

      <div>
        <span class="alinearVerticalmente">
          <mat-icon class="deleteMargin"> person </mat-icon>
          <p class="deleteMargin">{{book.autor.nombreCompleto}}</p>
        </span>
      </div>
    </div>
  </mat-card>
</div>
