.contenedor{
  /* background-color: #F3F1F5; */
  background: linear-gradient(to right, #3b98d6, #505BDA);
  height: 100vh;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active{
  color: #DBCDE6;
}
.navegation-list-label{
  display: inline-block;
  padding-left: 7px;
}
.colorbg{
  background: linear-gradient(to right, #3b98d6, #505BDA);
  /* background-color: #F3F1F5; */
}
