<!-- <app-libros></app-libros> -->
<!-- <app-navbar></app-navbar> -->
<mat-sidenav-container>
  <mat-sidenav role="navigation" #menu>
    <app-menu-lista (menuClose)=menu.close()></app-menu-lista>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-barra (menuToggle)="menu.toggle()"></app-barra>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <button mat-raised-button color="warn"> <mat-icon> account_circle </mat-icon> Botton de angular material</button>
 <button mat-button color="accent">Accent</button>
 <button mat-button color="warn">Warn</button>

 <button mat-raised-button color="primary">Primary</button> -->
