mat-sidenav-container, mat-sidenav-content, mat-sidenav{
  height: 100%;
}
mat-sidenav{
  width: 250px;
}
main{
  /* padding-top: 30px; */
  background-color: #d5dfe5 !important;
  /* height: 100%; */
}
