<section fxLayoutAlign="center">
  <mat-card>
    <div class="icono">
      <mat-icon> account_circle </mat-icon>
    </div>
    <form  #f="ngForm" (ngSubmit)="loginUsuario(f)">
      <mat-form-field>
        <div class="centrar">
          <mat-icon> email </mat-icon>
          <input type="email" matInput ngModel name="email" required />
        </div>
        <mat-error> Por favor ingrese un Email </mat-error>
      </mat-form-field>

      <mat-form-field>
        <div class="centrar">
          <mat-icon> lock </mat-icon>
          <input type="password" matInput ngModel name="password" required />
        </div>
        <mat-error> Ingresa una contraseña </mat-error>
      </mat-form-field>

      <button type="submit" class="btn-grad alinear">
        <mat-icon> login </mat-icon> Ingresar
      </button>
    </form>
  </mat-card>
</section>

<div class="burbujas">
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
</div>
