
.example-card {
  max-width: 400px;
}

.example-header-image {
  /* background-image: url("assets/img/default.jpg"); */
  /* background-image: url(); */
  /* background-image: image("assets/img/default.jpg"); */
  background-image: url('src/assets/img/default.jpg');
  background-size: cover;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.margen{
  margin: 5px;
  background-color: #f2f2f2;
}

.contenedor{
  background: #333;
}
.img{
  height: 500px;
  /* padding: 5px; */
}
.margen{
  margin: 10px;
}
.color{
  /* color: #fff; */
}
