
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.margen{
  margin: 5px;
  background-color: #F3F0D7;
}

.contenedor{
  background: #333;
}
