<div class="flex" >
  <mat-card class="example-card margen" *ngFor="let autor of autores">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="color"> {{autor.nombreCompleto | uppercase }} </mat-card-title>
      <mat-card-subtitle class="color">{{autor.gradoAcademico}}</mat-card-subtitle>
    </mat-card-header >
    <div class="margen">

      <img mat-card-image class="img" src="{{autor.imgFoto}}" alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
      <p class="color">
        Lorem ipsum dolor sit amet.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="color" mat-button>LIKE</button>
      <button class="color" mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>
