<div #flex class="flex">
  <mat-card *ngFor="let autor of autores">
    <div #f class="contenedorCards" (mouseenter)="mostrar2(autor, f)">
      <img class="imagen" src="{{ autor.imgFoto | noimage }}" alt="...." />
      <div class="contenedor-texto">
        <p class="texto-encima">{{ autor.nombreCompleto }}</p>
      </div>
    </div>
    <!-- *ngIf="autor._id === visible" -->
    <div (mouseleave)="salir()" class="infoCard" [ngClass]="{'positionRigth': positionTs, 'positionLeft': !positionTs}" *ngIf="autor._id === visible">
      <div class="alinearHeader">
        <span class="nombreAutor">{{ autor.nombreCompleto }}</span>
        <span class="alinearVerticalmente"> <mat-icon class="deleteMargin"> flag </mat-icon> <p class="deleteMargin">{{ autor.nacionalidad }}</p> </span>
        <span class="alinearVerticalmente"> <mat-icon class="deleteMargin"> work </mat-icon> <p class="deleteMargin">{{ autor.ocupacion }}</p> </span>
      </div>
      <p>{{ autor.descripcion }}</p>
      <div>
        <!-- <P>{{autor.genero}}</P> -->
        <h4>Generos</h4>
        <ul>
          <li *ngFor="let gener of autor.genero"> {{gener.name }} </li>
        </ul>
      </div>
    </div>
  </mat-card>
</div>
