#btn-agg{
  right: 45px;
  bottom: 45px;
  left: auto;
  position: fixed;
}

.botonDelete{
  cursor: pointer;
  color:red;
}

.botonUpdate{
  cursor: pointer;
  color: blue;
}



.tamañoFoto{
  max-width: 10%;
}

.tamañoTitulo{
  max-width: 15%;
}

.tamañoDescripcion {
  max-width: 30%;
  margin-right: 20px;
}

.tamañoAutor{
  max-width: 15%;
}

.tamañoPrecio{
  max-width: 13%;
}

.tamañoFecha{
  max-width: 12%;
}

.tamañoOpciones{
  max-width: 5%;
}


.imgFoto{
  width: 70px;
  height: 70px;
  border-radius: 40px;
}

.clase{
  Word-wrap: break-Word;
  Word-break: break-Word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.tabla{
  width: 100%;
  margin-bottom: 0;
}

