<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="60%">
    <input matInput type="text" (keyup)="filtrar($event)" placeholder="Ingrese titulo del libro">
  </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" matSort (matSortChange)="ordenarColumna($event)" class="table">

  <ng-container matColumnDef="imgFoto" >
    <mat-header-cell class="tamañoFoto" *matHeaderCellDef mat-sort-header> Foto de perfil </mat-header-cell>
    <mat-cell  class="tamañoFoto" *matCellDef="let element"> <img class="imgFoto" src="{{element.imgFoto}}" alt=""> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="titulo">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.titulo }} </mat-cell>
  </ng-container>

  <ng-container  matColumnDef="descripcion">
    <mat-header-cell class="tamañoDescripcion"  *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
    <mat-cell class="tamañoDescripcion clase" *matCellDef="let element"> {{ element.descripcion }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="autor">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Autor </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.autor.nombreCompleto }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="precio">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Precio </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.precio | currency }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="opciones">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </mat-header-cell>
    <mat-cell *matCellDef="let element" class="tamaño">
       <mat-icon (click)="abrirDialogEdit(element)" class="boton">edit</mat-icon>
       <mat-icon (click)="abrirDialog(element)" class="color boton">delete</mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="desplegarColumnas"></mat-header-row>
  <mat-row *matRowDef="let row, columns: desplegarColumnas"> </mat-row>

</mat-table>

<mat-paginator (page)="eventoPaginador($event)" #paginacion fxLayoutAlign="center center" [pageSize]="librosPorPagina" [pageSizeOptions]="paginaCombo" [length]="totalLibros">
</mat-paginator>

<button mat-fab id="btn-agg" color="warn" (click)="abrirDialog()">
  <mat-icon>add</mat-icon>
</button>

<!-- <button mat-fab id="btn-edit" color="primary" (click)="abrirDialog()">
  <mat-icon>edit</mat-icon>
</button> -->
