#btn-agg{
  right: 45px;
  bottom: 45px;
  left: auto;
  position: fixed;
}


.color{
  color:red;
}
.boton{
  cursor: pointer;
}

.tamañoDescripcion {
  max-width: 500px !important;
}

.tamañoFoto{
  max-width: 100px !important;
  height: 100px;
}
.imgFoto{
  width: 70px;
  height: 70px;
  border-radius: 40px;
}

.clase{
  Word-wrap: break-Word !important;
  Word-break: break-Word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.tabla{
  width: 100%;
  margin-bottom: 0;
}

